{% liquid
    assign section_st = section.settings
    assign ratio_image = section_st.ratio_image
        if ratio_image == 'adapt'
            assign ratio_image = ''
        elsif ratio_image == 'square'
            assign ratio_image = 'ratio-square'
        else ratio_image == 'portrait'
            assign ratio_image = 'ratio-portrait'
        endif
    assign position_content = section_st.position_content
    assign content_alignment = section_st.content_alignment
    assign show_product_count = section_st.show_product_count
%}
<a class="collection__item d-block h-full rounded-20 overflow-hidden{% if position_content == 'overlay_image' %} relative{% endif %}{% if collection.url == blank %} not-allowed{% endif %}" href="{{ collection.url | default: '#' }}">
    <div class="collection__item-media h-full {{ ratio_image }}">
        {% if collection.image != blank %}
            <img 
                class="img-cover d-block"
                src="{{ collection.image | image_url }}" 
                alt="{{ collection.title }}"
                width="100%" 
                height="100%" 
            >
        {% else %}
            {% render 'image-clone' %}  
        {% endif %}
    </div>
    <div class="collection__item-info typography-info text-{{ content_alignment }}{% if position_content == 'overlay_image' %} absolute left-10p bottom-1p right-10p{% endif %}{% if position_content == 'below_image' %} mt-20{% endif %}">
        <span 
            class="collection-name-wrapper d-inline-block"
            product-count="{{ collection.products_count |  default: 0 }}"
            show-product-count="{{ show_product_count }}"
        >
            <span class="collection-name btn-link" style="color: #fff;">
                {{ collection.title |  default: 'Collection Name' }}
            </span>
        </span>
    </div>
</a>
