{% liquid
    assign section_st = section.settings
    assign heading = section_st.heading
    assign subheading = section_st.subheading
    assign text_align = section_st.txt_align
    assign header_size = section_st.header_size
    assign reverse_content = section_st.reverse-content
%}
<div class="block__header">
    <div class="block__header-text d-flex{% if reverse_content == true %} column-reverse{% else %} column{% endif %} text-{{ text_align }}">
        <h2 class="header__text--heading heading-{{ header_size }}">
            {{ heading }}
        </h2>

        <h3 class="header__text--subheading subheading-{{ header_size }}">
            {{ subheading }}
        </h3>
    </div>
</div>