{% liquid 
    assign section_st = section.settings

    assign items_per_row_pc = section_st.items_per_row_pc
    assign items_per_row_mobile = section_st.items_per_row_mobile
    assign column_gap = section_st.column_gap
    assign check_icon = section_st.check_icon
    assign item_type = item_type
%}
<swiper-section
    class="swiper-section swiper relative"
    data-items-pc="{{ items_per_row_pc }}"
    data-items-mobile="{{ items_per_row_mobile }}"
    data-gap="{{ column_gap }}"
    data-infinite="{{ infinite_slide }}"
    data-auto="{{ auto_slide }}"
    data-interval="{{ interval_slide }}"
>
    {% if check_icon %}
        {% render 'swiper-icon' %}
    {% endif %}
    <div class="swiper-wrapper">
        {% if item_type == 'collection' %}
            {% for block in blocks %}
                {% assign collection = block.settings.collection %}
                <div class="swiper-slide txt-no-select">
                    {% render 'collection-item', collection: collection %}
                </div>
            {% endfor %}
        {% endif %}
        
        {% if item_type == 'product' %}
            {% for product in blocks %}
                <div class="swiper-slide txt-no-select">
                    {% render 'product-item', product: product %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</swiper-section>