{% liquid
  assign section_st = section.settings
  assign color_scheme = section_st.color_scheme 
  assign heading = section_st.heading
  assign description = section_st.description
  assign section_width = section_st.section_width
  assign section_pt = section_st.section_pt
  assign section_pb = section_st.section_pb
  assign fs_heading = section_st.fs_heading
  assign fw_heading = section_st.fw_heading
  assign fs_description = section_st.fs_description
  assign fw_description = section_st.fw_description
  assign spacing_description = section_st.spacing_description
  assign reset_spacing = section_st.reset_spacing
  if reset_spacing
    assign reset_spacing = 'mb-0'
  else
    assign reset_spacing = 'section__spacing-sections'
  endif
%}

{% style %}
    :root {
        --section-pt: {{ section_pt }};
        --section-pb: {{ section_pb }};
        --fs-heading-faq: {{ fs_heading }};
        --fw-heading-faq: {{ fw_heading }};
        --fs-description-faq: {{ fs_description }};
        --fw-description-faq: {{ fw_description }};
        --spacing-description-faq: {{ spacing_description }};
    }
{% endstyle %}

<section class="color-{{ color_scheme }} gradient section__py {{ reset_spacing }}">
    <div class="{{ section_width }}">
        <div class="text-{{ section_st.txt_align }}">
            <h2 class="heading-faq__text-style">{{ heading }}</h2>
            <p class="description-faq__text-style description-faq__spacing">{{ description }}</p>
        </div>
   
        <div>
            {% for block in section.blocks %}
                {%- liquid
                    assign block_st = block.settings
                -%}
                    <div class="bor-bot bor-1" style="border-color: black;">
                        <div class="faq-question d-flex ai-center jc-between pointer" style="line-height: 3; font-weight: 500;">
                            <span>{{ block_st.faq_question }}</span>
                            <span class="faq-icon">+</span>
                        </div>
        
                        <div class="faq-answer">
                            {{ block_st.faq_answer }}
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
</section>

<script>
    document.querySelectorAll(".faq-question").forEach(faq_question => {
        faq_question.addEventListener("click", () => {
        const answer = faq_question.nextElementSibling;
        toggleAnswer(answer, faq_question);
        });
    });

    window.addEventListener('resize', () => {
        document.querySelectorAll(".faq-answer").forEach(answer => {
        const icon = answer.previousElementSibling.querySelector(".faq-icon");
        const isOpen = icon.textContent.trim() === "−";
        if (isOpen) {
            requestAnimationFrame(() => {
            answer.style.maxHeight = answer.scrollHeight / 10 + "rem";
            });
        } else {
            answer.style.maxHeight = "0rem";
        }
        answer.dataset.open = isOpen;
        });
    });

    function toggleAnswer(answer, faq_questionElement) {
        const icon = faq_questionElement.querySelector(".faq-icon");
        const isOpen = answer.dataset.open === "true";
        answer.style.maxHeight = isOpen ? "0rem" : answer.scrollHeight / 10 + "rem";
        icon.textContent = isOpen ? "+" : "−";
        answer.dataset.open = !isOpen;
    }
</script>

{% schema %}
{
    "name": "FAQ Customize",
    "tag": "section",
    "settings": [
        {
            "type": "select",
            "id": "section_width",
            "label": "Section width",
            "default": "defaul",
            "options": [
                {
                    "value": "defaul",
                    "label": "Defaul"
                },
                {
                    "value": "fluid-container",
                    "label": "Fluid Container"
                },
                {
                    "value": "stretch-width",
                    "label": "Stretch Width"
                },
                {
                    "value": "full-width",
                    "label": "Full Width"
                }
            ]
        },
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Section color",
            "default": "scheme-1"
        },
        {
            "type": "header",
            "content": "Header"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "range",
            "id": "fs_heading",
            "label": "Font Size",
            "default": 14,
            "min": 14,
            "max": 48,
            "step": 1,
            "unit": "px"
        },
        {
            "type": "select",
            "id": "fw_heading",
            "label": "Font Weight",
            "default": "400",
            "options": [
                {
                    "value": "300",
                    "label": "300"
                },
                {
                    "value": "400",
                    "label": "400"
                },
                {
                    "value": "500",
                    "label": "500"
                }
            ]
        },
        {
            "type": "text",
            "id": "description",
            "label": "Description"
        },
        {
            "type": "range",
            "id": "fs_description",
            "label": "Font Size",
            "default": 14,
            "min": 14,
            "max": 36,
            "step": 1,
            "unit": "px"
        },
        {
            "type": "select",
            "id": "fw_description",
            "label": "Font Weight",
            "default": "400",
            "options": [
                {
                    "value": "300",
                    "label": "300"
                },
                {
                    "value": "400",
                    "label": "400"
                },
                {
                    "value": "500",
                    "label": "500"
                }
            ]
        },
        {
            "type": "select",
            "id": "txt_align",
            "label": "Text Align",
            "default": "center",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ]
        },
        {
            "type": "range",
            "id": "spacing_description",
            "label": "Spacing",
            "default": 5,
            "min": 5,
            "max": 50,
            "step": 1,
            "unit": "px"
        },
        {
            "type": "header",
            "content": "Section Padding"
        },
        {
            "type": "range",
            "id": "section_pt",
            "label": "Top",
            "default": 0,
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "section_pb",
            "label": "Bottom",
            "default": 0,
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px"
        },
        {
            "type": "checkbox",
            "id": "reset_spacing",
            "label": "Remove default space between sections",
            "default": false
        }
    ],
    "blocks": [
        {
            "type": "faq-item",
            "name": "FAQ Item",
            "settings": [
                {
                    "type": "text",
                    "id": "faq_question",
                    "label": "FAQ Question",
                    "default": "Frequently Asked Questions?"
                },
                {
                    "type": "richtext",
                    "id": "faq_answer",
                    "label": "FAQ Answer",
                    "default": "<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "FAQ Customize"
        }
    ]
}
{% endschema %}